<div fxLayoutAlign="center">
    <mat-form-field class="example-full-width">
        <mat-label>Agência</mat-label>
        <input matInput disabled value="Google">
    </mat-form-field> &nbsp;

    <mat-form-field class="example-full-width">
        <mat-label>Conta</mat-label>
        <input matInput disabled value="Google">
    </mat-form-field> &nbsp;
    <mat-form-field class="example-full-width">
        <mat-label>Saldo</mat-label>
        <input matInput disabled value="Google">
    </mat-form-field>
</div>

<p>
    <mat-toolbar color="primary" routerLink="/cliente/perfil">
        <mat-toolbar-row>
            <span>Perfil</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon">
                <mat-icon>home</mat-icon>
            </button>
        </mat-toolbar-row>

    </mat-toolbar>
</p>
<p>
    <mat-toolbar color="primary" routerLink="/conta/transacao">
        <mat-toolbar-row>
            <span>Transações</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon">
                <mat-icon>money</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</p>

<p>
    <mat-toolbar color="primary" routerLink="/conta">
        <mat-toolbar-row>
            <span>Crédito</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon">
                <mat-icon>add_to_queue</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</p>

<p>
    <mat-toolbar color="primary" routerLink="/extrato">
        <mat-toolbar-row>
            <span>Extrato</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon">
                <mat-icon>line_weight</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</p>